<html>
<head>
<title>Online Chronicle</title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=0.65">
<link rel="icon" href="/resources/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/main.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.12/vue.min.js"></script>
<script> if (typeof Vue === "undefined") document.write("<script src=\"libraries\/vue.min.js\"><\/script>"); </script>
</head>
<body>
<div id="app" style="display: flex;">
<div style="text-align: center; vertical-align: top; padding-right: 1.5em;">
	<a href="/"><img src="/resources/logo.png" style="width: 150px; cursor: default;"></img></a><br><br>
	<div style="display: inline-block; text-align: right;">
		<a v-bind:href="(mode !== 0) ? 'javascript:void(0);' : false" onclick="app.mode = 0;" v-cloak>{{ modeNames[0] }}</a><br><br>
		<a v-bind:href="(mode !== 1) ? 'javascript:void(0);' : false" onclick="app.mode = 1;" v-cloak>{{ modeNames[1] }}</a><br><br>
		<a v-bind:href="(mode !== 2) ? 'javascript:void(0);' : false" onclick="app.mode = 2;" v-cloak>{{ modeNames[2] }}</a>
	</div>
</div>

<div style="vertical-align: top; margin-top: -2em; flex-grow: 1;">
	<keep-alive>
		<rendered-chat v-if="mode === 0" v-bind:messages="messages" v-bind:icon="icon" v-cloak></rendered-chat>
		<rendered-music v-if="mode === 1" v-cloak></rendered-music>
		<rendered-video v-if="mode === 2" v-cloak></rendered-video>
	</keep-alive>
</div>
</div>

<script>
const routeNames = ["chat", "music", "video"];
for (let i = 0; i < 3; i++) {
	Vue.component("rendered-" + routeNames[i], function (resolve, reject) {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				var component = JSON.parse(this.responseText);
				
				// Load the scripts that the component uses
				var scripts = component.scripts;
				delete component.scripts;
				for (let j = 0; j < scripts.length; j++) {
					// Check has the script already been previously loaded to avoid duplicates
					let existingScripts = document.getElementsByTagName("head")[0].getElementsByTagName("script");
					
					var found = false;
					for (let k = 0; k < existingScripts.length; k++) {
						if (existingScripts[k].src.endsWith(scripts[j].path)) found = true;
					}
					
					if (found === false) {
						// console.log("will load", scripts[j]);
						let scriptTag = document.createElement("script");
						scriptTag.defer = true;
						scriptTag.async = false;
						document.getElementsByTagName("head")[0].appendChild(scriptTag);
						scriptTag.onload = function () {
							// console.log("loaded", scripts[j]);
							// If the script from scripts[j].path is sourced from a CDN, check whether or not the script has actually been loaded successfully and load the locally stored backup if the script has not been loaded
							if (scripts[j].check && scripts[j].backup) {
								if (typeof window[scripts[j].check] === "undefined") {
									found = false;
									for (let k = 0; k < existingScripts.length; k++) {
										if (existingScripts[k].src.endsWith(scripts[j].backup)) found = true;
									}
									
									if (found === false) {
										let backupScriptTag = document.createElement("script");
										backupScriptTag.defer = true;
										backupScriptTag.async = false;
										document.getElementsByTagName("head")[0].appendChild(backupScriptTag);
										backupScriptTag.src = scripts[j].backup;
									}
								}
							}
						}
						scriptTag.src = scripts[j].path;
					}
				}
				resolve(component);
			}
		};
		xhttp.open("GET", "/pages/" + routeNames[i] + ".json", true);
		xhttp.send();
	});
}

Vue.directive("focus", {
	"inserted": function (element) {
		document.getElementById("messageBox").scrollTop = document.getElementById("messageBox").scrollHeight;
	}
});

var app = new Vue({
	"el": "#app", 
	"data": {
		"mode": null, 
		"modeNames": ["Chat Room", "Playing Music", "Playing Video"], 
		"routeNames": routeNames, 
		"suppressEvaluateMode": false, 
		"messages": [], 
		"icon": new Image()
	}, 
	"watch": {
		"mode": function (newMode, oldMode) {
			// console.log("watch", this.suppressEvaluateMode);
			if (this.suppressEvaluateMode === false) {
				document.title = this.modeNames[newMode];
				window.history.pushState(null, null, "#!/" + this.routeNames[newMode]);
			}
			this.suppressEvaluateMode = false;
		}
	}
});

// Preload the icon that will be used
app.icon.src = "https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/svg/x.svg";
app.icon.onerror = () => {
	app.icon.src = "/libraries/open-iconic/svg/x.svg";
};

const evaluateMode = function () {
	// console.log("eval", app.suppressEvaluateMode);
	if (app.suppressEvaluateMode === false) {
		if (app.routeNames.indexOf(window.location.hash.substring(3)) !== -1) {
			app.suppressEvaluateMode = true;
			app.mode = app.routeNames.indexOf(window.location.hash.substring(3));
		} else {
			app.suppressEvaluateMode = true;
			app.mode = 0;
		}
	} else {
		app.suppressEvaluateMode = false;
	}
}

window.onpopstate = evaluateMode;
evaluateMode();
</script>
</body>
</html>